

	$texto : "Josefin Sans";

	$color : darken(#a5bfe4, 30%);

	$sitePadding: 10%;

	%feature{

		color:white;
		background: $color;

	}

	%primary{

		color: $color;

	}

	@mixin transition($transition...) {
		-webkit-transition: $transition;
		-moz-transition: $transition;
		-ms-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}

	@mixin shadow($shadow...) {
		-moz-box-shadow: $shadow;
		-webkit-box-shadow: $shadow;
		box-shadow: $shadow;
	}

	%inline{
		display: -moz-inline-stack;
		display:inline-block;
		vertical-align: bottom;
		zoom: 1;
		*display: inline;
	}

	%overlay{
		position: absolute;
		left:0;
		top:0;
	}

	%center{

		& > *{
			@extend %inline;
			vertical-align: middle;
		}

		&:before{
			content:" ";
			height: 100%;
			margin-right: -.33em;
			vertical-align: middle;
			@extend %inline;
		}

	}

	$break-tiny: 350px;
	$break-small: 400px;
	$break-large: 1024px;

	@mixin respond-to($media) {
		@if $media == tiny {
			@media only screen and (max-width: $break-tiny) { @content; }
		}
		@else if $media == handhelds {
			@media only screen and (max-width: $break-small) { @content; }
		}
		@else if $media == medium-screens {
			@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
		}
		@else if $media == wide-screens {
			@media only screen and (min-width: $break-large) { @content; }
		}
	}