@import "_variable.scss";

@import "_normalize.scss";

body{

	font-family: $texto;

}

a {
	color:inherit;
}

svg{
	width: 1.2em;
	height: 1.2em;
	fill:$color;
	@extend %inline;
}

.info-contact{

	display: block;
	padding: 2em $sitePadding;
	text-align: center;

	article{

		@extend %inline;
		vertical-align: top;
		width: 30%;

		h1{

			font-size: 1.4em;
			margin-bottom: .5em;

		}

		ul{
			font-size: 1.1em;
		}

		li{
			text-indent: .5em;
			margin-bottom: .1em;
		}

	}

}

.main-header{

	@extend %feature;
	
	display: block;
	font-size: 9em;
	padding: 0 $sitePadding;
	text-align: right;
	text-transform: capitalize;
	letter-spacing: -4px;
	position: relative;

	figure{

		font-size: 1.5em;
		width: 1em;
		height: 1em;
		border-radius: 1em;
		position: absolute;
		overflow: hidden;

		top: 100%;
		margin-top: -1.2em;

		img{
			width: 100%;
			height: auto;
		}

	}

	h1{
		padding: 1em .5em .2em .5em;
	}

	small{

		font-size: .5em;
		display: block;
		position: relative;
		top:.5em;

	}

}

.icon{

	@extend %inline;
	fill: $color;
	font-size: 1em;
	width: 1.2em;
	height: 1.2em;

}

.timeline, .bio, .books {

	display: block;

	& > h1{
		@extend %primary;
		font-size: 2.5em;
		margin: .75em 0;
		padding: 0 $sitePadding;
		border-bottom: dotted 2px $color;
	}

	p{

		font-size: 1.1em;
		text-indent: 20px;
		margin-bottom: .5em;
		text-align: justify;

	}

}

.bio{

	& > p{

		padding: 0 $sitePadding;
		text-align: justify;

	}

}

.books{

	article{

		@extend %inline;

		width: 15%;
		padding: 10px 2.5%;
		vertical-align: top;
	}

	section{

		margin: 0 $sitePadding;
	}

	img {
		width: 100%;
		height: auto;
	}

	figcaption{
		width: 100%;
		text-align: center;
		margin-top: 0.2em;
	}

}

.timeline{

	p{
		padding-left: 20px;
	}

	& > article{

		$width:10%;

		display: block;
		margin-left: $width;
		padding: 0 0 .5em 0!important;
		margin: 0 $sitePadding 0 $sitePadding+$width;

		position: relative;
		left: -2px;

		border-left: solid 2px $color;

		&:last-child{

			border-left-color: transparent;

		}

		h1,h2{

			color: $color;
			font-size: 1.3em;
			padding-left: 15px;
			margin-bottom: .5em;

		}

		h2{
			font-size: 1.1em;
			margin-top: .5em;
		}

		&::before{

			$size: .7em;

			position: absolute;
			content: ' ';
			width: $size;
			height: $size;
			background: $color;
			left: -$size/2;
			margin-left: -5px;
			top:-2px;
			border-radius: $size;
			border:solid 4px white;

		}

		time{

			width: $width;
			position: absolute;
			left: -$width;
			font-size: 17px;
			color: #000;

		}

	}

}

.stats{

	padding: .2em $sitePadding;

	&.lenguajes{
		padding: .2em $sitePadding*2;

		article{
			width: 46%
		}
	}

	& > h1{

		font-size: 1.7em;
		font-weight: bold;
		letter-spacing: .1em;
		color: $color;

		padding: .4em 0;

	}

	article{

		@extend %inline;
		width: 28%;
		margin: .3em 2%;

	}

	.stat{

		@extend %inline;
		width: 100%;
		margin-top: .2em;
		height: .8em;
		background: lighten($color, 20%);

		& > span{

			@extend %inline;
			vertical-align: top;
			height: 100%;
			background: $color;
		}

	}

}

@import "print.scss";

@import "responsive.scss";