
@include respond-to(handhelds) {

	$sitePaddingSmall:5%;

	.main-header{

		padding: 0 $sitePaddingSmall;

		h1{
			position: relative;
			font-size: .5em;
			padding-top: 0;
		}

		figure{
			position: relative;
			margin-top: 0;
			font-size: 1em;
			left: .1em;
			top: .1em;
		}

	}

	.info-contact{

		padding: 2em $sitePaddingSmall;
		font-size: 1.1em;

		article{

			width: 100%;
			padding-bottom: 2em;

		}

	}
	
	.timeline > article{

		padding: 0 $sitePaddingSmall;

	}

	.bio > p{

		padding: 0 $sitePaddingSmall;

	}

	.timeline > article{

		margin: 0 $sitePaddingSmall 0 $sitePaddingSmall+14%;

		time{
			left :-19%;
		}

	}

	.stats{

		padding: .2em $sitePaddingSmall;

		article{
			width: 96%;
		}

		&.lenguajes{
			padding: .2em $sitePaddingSmall;
		}

	}

}

@include respond-to(medium-screens) {

	$sitePaddingSmall:5%;

	.main-header{

		padding: 0 $sitePaddingSmall;

		h1{
			position: relative;
		}

		figure{
			position: relative;
			margin: 0;
			left: .1em;
			top: .3em;
			margin-bottom: -1.2em;
		}

	}

	.info-contact{

		padding: 2em $sitePaddingSmall;
		font-size: 1.1em;

	}
	
	.timeline > article{

		padding: 0 $sitePaddingSmall;

	}

	.bio > p{

		padding: 0 $sitePaddingSmall;

	}

	.timeline > article{

		margin: 0 $sitePaddingSmall 0 $sitePaddingSmall+10%;

		time{
			left :-10%;
		}

	}

	.stats{

		padding: .2em $sitePaddingSmall;

		&.lenguajes{
			padding: .2em $sitePaddingSmall;
		}

	}

}

@include respond-to(tiny){

	.main-header{

		h1{
			text-align: center;
			display: block;
			padding: 0;
			font-size: .4em;
		}

	}

}